* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.slider {
  background-color: #3b4a6b;
}
.carousel-pointer {
  border-radius: 50%;
}
.common-btn {
  background-color: #e6c511;
  color: #fff;
  padding: 10px 50px;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.3s;
}
.common-btn:hover {
  transform: translateY(-10px);
  color: #fff;
}
/* Latest watches  */
.box {
  background-color: #faf9fa;
  border-radius: 20px;
  height: 300px;
}
/* about  */
#about {
  background-color: #3b4a6b;
  overflow: hidden;
}

/* featuers  */

.card {
  box-shadow: 6px 6px 6px #898484f0;
  transition: all 0.3s;
  border: none;
}
.card:hover {
  background-color: #3b4a6b;
  color: #fff;
}

.card-img img {
  transition: all 0.3s;
  width: 75px;
}
.card a {
  color: black;
  transition: all 0.3s;
}
.card:hover a {
  color: #fff;
}
.card:hover img {
  filter: invert(1);
}
.testimonial-card {
  background-color: #3b4a6b;
  padding: 15px;
  border-radius: 10px;
}
.testimonial-img {
  width: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 5px dotted #e6c511;
}
footer {
  background-color: #3b4a6b;
}
.social a {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 16px;
}
.social a:hover{
  color: #e6c511;
}